@page
@model MelbourneMegagames.Pages.Games.OurGamesModel
@{
    ViewData["Title"] = "Our games";
}

<h1>Our games</h1>
<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Games[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Games[0].GameDate)
            </th>
        </tr>
    </thead>
    @foreach (var game in Model.Games)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => game.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => game.GameDate)
            </td>
        </tr>
    }
</table>

