@page
@model MelbourneMegagames.Pages.Games.OurGamesModel
@{
    ViewData["Title"] = "Our games";
}

<h1>Our games</h1>

@foreach (var game in Model.games) { 
    <h2>@Html.DisplayFor(modelItem =>  game.Name)</h2>
}

