.footer {
    background-color: black;
    color: white;
    display: flex;
    padding: 58px;
}

.ackCountry {
    padding: 50px;
    font-size: 20px;
    text-align: center;
    border-color: white;
    border-right: 3px solid;
    border-left: 3px solid;
}

.footerRight {
    padding: 32px;
}

.socials {
    display: flex;
    column-gap: 33.33px;
}