.Navbar {
    background-color: black;
    color: white;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    column-gap: 53px;
}

.HeaderLogo {
    padding: 10px;
}