@page
@model MelbourneMegagames.Pages.AboutUsModel
@{
    ViewData["Title"] = "About us";
}
<div>
    <h1>About Us</h1>
</div>
<div>
    <p>We are a group of megagame crazy players, in Melbourne Australia.</p>
</div>

