@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
    <div class="container">
        <div class="text-center" id="intro">
            <h1 class="display-4">Melbourne Megagames</h1>
            <p>We are a group of passionate gamers running Megagames in Melbourne, Australia.</p>
        </div>
        <div class="page-segment" id="about-us-info">
            <a asp-page="AboutUs">About Us</a>
        </div>
        <div class="page-segment" id="what-is-info">
            <a asp-page="WhatIs">What is a Megagame?</a>
        </div>
        <div class="page-segment" id="our-games-info">
            <a asp-page="Games/OurGames">Our Games</a>
        </div>
    </div>
